.header {
  display: flex;
  padding: 3em;
  position: absolute;
}

.header-block {
  margin: 16px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(240, 240, 240);
  transition: color 0.25s;
}

.header-block:nth-child(2) {
  margin-left: 64px;
}

svg {
  margin-right: 15px;
}
